# Environments
**/env/
env/
**/web_env/
*/checkpoints/
ckpt/
*/web_env/
web_env/
**/ui_env/
ui_env/
**/ml_env/
ml_env/

# Python
__pycache__/
*.pyc

# Pytest and coverage
.pytest_cache/
*.coverage
htmlcov/

# Files
*.DS_Store
*.json
*.png
*.jpg
*.im
*.seg
*.npy
*.h5
*.hdf5
*.csv
*.tfrecords
# *.cfg
# *.sh
*.zsh

# IDE
.vscode/
.ipynb_checkpoints/

# Logging
**/logs/
**/logs_old/
**/logs_old_2/

# Checkpoints
checkpoints/

# Unignore
!/results/
!/results/**

ok.py
