# Environments
**/env/
env/
*/checkpoints/
checkpoints/
*/web_env/
web_env/
**/ui_env/
ui_env/
**/ml_env/
ml_env/

# Python
__pycache__/

# Pytest and coverage
.pytest_cache/
*.coverage
htmlcov/

# Files
*.json
*.png
*.jpg
*.im
*.seg
*.npy
*.h5
*.csv
*.tfrecords

# IDE
.vscode/

# Logging
**/logs/

# Data
checkpoints/
