# Environments
**/env/
env/
**/web_env/
web_env/
**/ui_env/
ui_env/
**/ml_env/
ml_env/

# Python
__pycache__/

# Pytest and coverage
.pytest_cache/
*.coverage
htmlcov/

# Files
*.json
*.png
*.jpg
*.im
*.seg
*.h5
*.csv

# IDE
.vscode/

# Logging

**/logs/

# Data
checkpoints/
