#training parameters
--batch_size=20
--train=False
--tpu=oai-tpu-machine
--model_architecture=100-Layer-Tiramisu
--multi_class=False
--aug_strategy=random_crop
--use_attention=True

#DeepLabv3 parameters
--num_filters_atrous=256
--kernel_size_initial_conv=3

#directories
--tfrec_dir=gs://oai-challenge-dataset/tfrecords/
--logdir=gs://oai-challenge-dataset/checkpoints/
--tpu_dir=oliv-tpu
--visual_file=20200618-163925
--gif_directory='results/volume_gif_lapo_tiramisu_epoch40.gif'
--gif_epochs=40
--gif_slice=80
--gif_volume=1
--clean_gif=False
--do_gif_volume=True

# volume 2 slice 95
